@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body{
  background-color: #F7F7F7;
}

section {
  padding: 80px;
}

.fitBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a{
  text-decoration: none;
  color: #000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header .logo {
  filter: invert(100%);
  width: 8em;
  background-size: cover;
}
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  margin-left: 3em;
  list-style: none;
}
header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
}
header.sticky {
  background: #fff;
  padding: 0px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header.sticky .logo {
  filter: none;
}
header.sticky .navigation li a {
  font-size: 1.1em;
  font-weight: 500;
  color: #000;
}

.about {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .imgBx {
  position: relative;
  width: 55%;
  min-height: 450px;
  object-fit: cover;
}
.about .content {
  max-width: 450px;
}
.about .content .btn {
  background: #1F2F37;
  color: #fff;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .fitBg {
  filter: brightness(50%);
}
.banner .content {
  position: relative;
  text-align: center;
  max-width: 800px;
}
.banner .content h1 {
  color: #fff;
  font-size: 3em;
  font-weight: 700;
}
.banner .content p {
  color: #fff;
  font-size: 1.1em;
}

.btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 30px;
  background: #fff;
  color: #333;
  transition: 0.4s;
  cursor: pointer;
}
.btn:hover {
  letter-spacing: 3px;
}

.titleText {
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 1.2em;
  font-size: 2em;
  margin-bottom: 55px;
}
.titleText span {
  font-size: 1.1em;
  font-weight: 800;
  color: #24596A;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  height: 300px;
  margin-bottom: 20px;
}

.card {
  height: 300px;
  width: 220px;
  /*background-color: #4C4B4B;/*393838*/
  background-image: url("../images/card1.png");
  /* background-position: bottom*/
  /*object-fit: fill;*/
  border-radius: 10px;
  border: 1px solid black;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  margin-right: 20px;
  margin-left: 20px;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(180deg) translateY(-15px);
  transition: 0.6s ease-out;
  box-shadow: 0px 0px 43px 2px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 0px 0px 43px 2px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 0px 43px 2px rgba(0, 0, 0, 0.76);
}

.lado {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.detras {
  background-color: #1A3B47;
  /*222324*/
  border-radius: 10px;
  transform: rotateY(180deg);
  padding-top: 15px;
  padding-left: 10px;
}

.card:hover ~ .card {
  transition: 0.4s ease-out;
}

.lado.detras p {
  color: white;
  grid-row: 1;
  font-weight: 200;
  font-size: 18px;
}

.lado.detras {
  display: grid;
  grid-template-rows: 85% 10%;
}

.lado.detras button {
  grid-row: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  display: block;
  width: 150px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  overflow: hidden;
  transition: all 500ms ease;
  border: 2px solid #fff;
  font-weight: 400;
}

.lado.detras button::after {
  content: "";
  background: #f5f5f5;
  /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.lado.detras button:hover {
  border: 2px solid black;
  color: black;
}

.lado.detras button:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(45deg) scale(1, 1);
}
.lado.detras button:hover{
    border: 2px solid black;
    color: black;
}

.title {
  padding: 15px;
  color: white;
  font-weight: 300;
  font-size: 38px;
  text-shadow: 5px 2px #17141d;
  transition: all 500ms ease;
}

.contact {
  position: relative;
  width: 100%;
  height: 110vh;
}
.contact .text {
  text-align: center;
}
.contact .content {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact .imgContact {
  background-size: cover;
  width: 450px;
}
.contact .form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 370px;
}
.contact .form h3 {
  margin-bottom: 10px;
}
.contact .form .noHover {
  width: 100px;
  position: absolute;
  bottom: 0;
  background-color: #1F2F37;
  color: #fff;
}
.contact .form input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.contact .form textarea {
  height: 140px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  resize: none;
}
.noHover{
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 30px;
  background: #fff;
  color: #333;
  transition: 0.4s;
  cursor: pointer;
}
.redes{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.redes__item{
  display: flex;
  align-items: center;
  margin-left: 70px;
}
.redes__svg{
  margin-right: 10px;
}
.redes__phone{
  display: flex;
  flex-direction: column;
}
.contact .titleText{
  margin-bottom: 0px;
}
.contact .content{
  margin-top: 10px
}
.wsp_contact{
  position: fixed;
  right: 30px;
  bottom: 15px;
}
.wsp_contact img{
  width: 50px;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: black;
  padding: 30px;
}

footer p {
  text-align: center;
  color: #fff;
}

/*# sourceMappingURL=index.css.map */
