.contact{
    position: relative;
    width: 100%;
    height: 110vh;
    .text{
        text-align: center;
    }
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .imgContact{
        background-size: cover;
        width: 450px;
    }
    .form{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 370px;
    }
    .form h3{
        margin-bottom: 10px;
    }
    .form .btn{
        width: 100px;
        margin: 5px;
        position: absolute;
        right: -5px;
        bottom: 0;
    }
    .form input{
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
    }
    .form textarea{
        height: 140px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
        resize: none;
    }
}